.containerAcoes {
  display: flex;
  flex-direction: column;
  justify-content: center;
  gap: 60px;
  padding: 6rem 0;

  .TituloParagrafo {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    text-align: center;
    gap: 20px;

    h2 {
      font-size: 4rem;
      color: #205691;
    }

    p {
      font-size: 1.5rem;
      width: 55%;
    }
  }

  .containerCards {
    display: flex;
    justify-content: space-between;
    gap: 40px;
    flex-wrap: wrap;
    padding: 0 4.5rem;
  }
}
