article {
  display: flex;
  flex-direction: column;
  align-items: center;
  width: 30%;
  gap: 30px;

  h3 {
    color: #122f97;
    font-size: 1.8rem;
  }

  p {
    font-size: 1rem;
    text-align: center;
    width: 80%;
  }

  button {
    background-color: #205691;
    color: #fff;
    border-radius: 10px;
    padding: 0.5rem 0.8rem;
    font-size: 1.2rem;
  }

  button:hover {
    cursor: pointer;
  }
}

@media screen and (max-width: 1024px) {
  article {
    width: 100%;

    img {
      width: 85vw;
    }

    h3 {
      width: 100vw;
      font-size: 1.3rem;
      text-align: center;
    }

    p {
      width: 80vw;
    }

    button {
      font-size: 1rem;
    }
  }
}
