.containerInicio {
  display: flex;
  align-items: center;
  flex-direction: row;
  justify-content: center;
}

.contentTelaInicial {
  width: 50vw;
  color: #205691;
  display: flex;
  flex-direction: column;
  justify-content: center;
  gap: 2rem;

  h1 {
    font-size: 5.5rem;
    font-weight: 700;
  }

  p {
    font-size: 1.5rem;
    line-height: 1.5;
  }
}

figure {
  width: 38.8%;

  .imgInicio {
    width: 100%;
  }
}

@media screen and (max-width: 1024px) {
  .containerInicio {
    flex-direction: column;
    gap: 2rem;
    margin: 3rem 0;
  }

  .contentTelaInicial {
    width: 95vw;
    text-align: center;
    gap: 2rem;

    h1 {
      font-size: 2.5rem;
    }

    p {
      font-size: 0.8rem;
      text-align: center;
    }
  }

  figure {
    width: 58.8%;

    .imgInicio {
      width: 100%;
    }
  }
}
