footer {
  color: #fff;
  background-color: #205691;
  height: 15vh;
  display: flex;
  align-items: center;
  justify-content: space-between;
  padding: 3rem;

  .containerLogoFooter {
    display: flex;
    align-items: center;
    gap: 1.5rem;
  }

  p {
    width: 32%;
    text-align: center;
  }

  .logoRedesSociais {
    display: flex;
    gap: 1rem;
  }
}

@media screen and (max-width: 1024px) {
  footer {
    flex-direction: column-reverse;
    padding: 1.5rem 0;
    height: 35vh;

    .containerLogoFooter {
      gap: 3rem;

      .imgFooter {
        width: 4.5rem;
      }
    }

    p {
      width: 100%;
      font-size: 0.8rem;
    }

    .logoRedesSociais {
      gap: 4rem;

      img {
        width: 2.5rem;
      }
    }
  }
}
